# Optional dependencies for `python export_tensorrt.py`.
onnx>=1.12.0,<2.0.0
onnxruntime-gpu
onnxslim>=0.1.82
tensorrt
nvidia-modelopt==0.45.0
onnx-graphsurgeon
onnxconverter-common
onnxscript
polygraphy
cppimport
cupy-cuda12x
lief
